@media only screen and (min-width: 100px) {
    body {
      background-color: #9b9b9b;
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }

    header nav h1{
        font-size: 20px;
    }
    header nav {
        background-color: #000;
        color: #fff;
    }
    
  }

  body {
    min-height: 100vh;;
}
main{
    max-width: 600px;
    margin: auto;
    padding: 35px 2em;
}
header nav {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
}
.links-block {
    display: none;
    padding: 0 15px;
}
.links-block-visible {
    display: flex;
    flex-direction: column;
}
   
  

  
