<header>
  
    <button class="ham"></button>
    <nav class="navbar">
      <ul>
        <li><a class="menuLink" href="/">Home</a></li>
        <li><a class="menuLink" href="/searches/new" >Search for a book</a></li>
      </ul>
    </nav>
  
  </header>